server:
    port: 8080

spring:
    application:
        name: container-platform
    profiles:
        active: ${SPRING_PROFILES_ACTIVE:local}

    datasource:
        url: jdbc:h2:mem:containerdb
        driver-class-name: org.h2.Driver
        username: sa
        password:

    h2:
        console:
            enabled: true
            path: /h2-console
            settings:
                web-allow-others: true

    jpa:
        hibernate:
            ddl-auto: create-drop
        show-sql: true
        properties:
            hibernate:
                format_sql: true
        defer-datasource-initialization: true

# Actuator (health check?)
management:
    endpoints:
        web:
            exposure:
                include: health
    endpoint:
        health:
            probes:
                enabled: true
            show-details: never