server:
    port: 8080

spring:
    application:
        name: container-platform

    datasource:
        url: jdbc:h2:mem:containerdb
        driver-class-name: org.h2.Driver
        username: sa
        password:

    h2:
        console:
            enabled: true
            path: /h2-console
            settings:
                web-allow-others: true

    jpa:
        hibernate:
            ddl-auto: create-drop
        show-sql: true
        properties:
            hibernate:
                format_sql: true
        defer-datasource-initialization: true

# Kubernetes ??
kubernetes:
#    config:
#        path: ${HOME}/.kube/config-multipass
    namespace: user-containers
    registry: 192.168.2.2:32000
    domain: 192.168.2.2.nip.io
    ingress:
        port: 30080